@import '../../colors.scss';

.testemonials-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 50px;
    .testemonials-title-container {
        max-width: 500px;
    }
    .testemonials-container {
        display: flex;
        justify-content: center;
        text-align: start;
        .testemonial-card {
            display: flex;
            flex-direction: column;
            align-items: start;
            max-width: 500px;
            padding: 30px;
            box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
            position: relative;

            .testemonial-text {
                p {
                    color: #000;
                    font-size: 20px;
                }
            }
            .author-container {
                display: flex;
                align-items: center;
                gap: 10px;
                .author-img-container {
                    img {
                        border-radius: 50%;
                        height: 60px;
                    }
                }
                .author-info  {
                    h5 {
                        margin: 0;
                    }
                    h6 {
                        margin: 0;
                    }
                }
            }
            .quotes {
                width: 100px;
                position: absolute;
                right: 30px;
                bottom: 20px;
            }
        }
    }
}